absl-py==2.0.0
accelerate==0.24.1
aiohttp==3.9.1
aiosignal==1.3.1
annotated-types==0.6.0
asttokens==2.4.1
async-timeout==4.0.3
attrs==23.1.0
av==11.0.0
bigmodelvis==0.0.1
cachetools==5.3.2
certifi==2023.11.17
charset-normalizer==3.3.2
click==8.1.7
contourpy==1.2.0
cycler==0.12.1
Cython==3.0.5
data==0.4
decorator==5.1.1
decord==0.6.0
deepspeed==0.12.3
einops==0.7.0
exceptiongroup==1.2.0
executing==2.0.1
filelock==3.13.1
flash-attn==2.3.6
fonttools==4.45.1
frozenlist==1.4.0
fsspec==2023.10.0
ftfy==6.1.1
funcsigs==1.0.2
fvcore==0.1.5.post20221221
google-auth==2.23.4
google-auth-oauthlib==1.1.0
grpcio==1.59.3
hjson==3.1.0
huggingface-hub==0.19.4
idna==3.4
iopath==0.1.10
ipdb==0.13.13
ipython==8.17.2
jedi==0.19.1
joblib==1.3.2
jsonlines==4.0.0
kiwisolver==1.4.5
lightllm==2.0.0
Markdown==3.5.1
markdown-it-py==3.0.0
MarkupSafe==2.1.3
matplotlib==3.8.2
matplotlib-inline==0.1.6
mdurl==0.1.2
multidict==6.0.4
networkx==3.2.1
ninja==1.11.1.1
nltk==3.8.1
numpy==1.26.2
nvidia-cublas-cu11==11.10.3.66
nvidia-cuda-nvrtc-cu11==11.7.99
nvidia-cuda-runtime-cu11==11.7.99
nvidia-cudnn-cu11==8.5.0.96
oauthlib==3.2.2
openai==0.28.1
packaging==23.2
parameterized==0.9.0
parso==0.8.3
peft==0.3.0
pexpect==4.8.0
Pillow==9.5.0
pip==23.3.1
plumbum==1.8.2
plyfile==1.0.2
pointnet2==0.0.0
portalocker==2.8.2
prompt-toolkit==3.0.41
protobuf==4.23.4
psutil==5.9.6
ptyprocess==0.7.0
pure-eval==0.2.2
py-cpuinfo==9.0.0
pyasn1==0.5.1
pyasn1-modules==0.3.0
pycocoevalcap==1.2
pycocotools==2.0.7
pydantic==2.5.2
pydantic_core==2.14.5
Pygments==2.17.2
pynvml==11.5.0
pyparsing==3.1.1
python-dateutil==2.8.2
pytorchvideo==0.1.5
PyYAML==6.0
pyzmq==25.1.1
regex==2022.10.31
requests==2.31.0
requests-oauthlib==1.3.1
rich==13.7.0
rpyc==5.3.1
rsa==4.9
safetensors==0.4.0
sentencepiece==0.1.99
setuptools==65.5.1
six==1.16.0
stack-data==0.6.3
tabulate==0.9.0
tensorboard==2.15.1
tensorboard-data-server==0.7.2
termcolor==2.3.0
timm==0.6.7
tokenizers==0.15.0
tomli==2.0.1
torch==1.13.1
torchaudio==0.13.1
torchvision==0.14.1
tqdm==4.66.1
traitlets==5.13.0
transformers==4.35.2
trimesh==4.0.5
triton==2.1.0
typing_extensions==4.8.0
urllib3==2.1.0
uvloop==0.19.0
wcwidth==0.2.12
Werkzeug==3.0.1
wheel==0.41.2
yacs==0.1.8
yarl==1.9.3
